@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

body._lock {
  overflow: hidden; }

@font-face {
  font-family: 'CookieRegular';
  src: url("fonts/CookieRegular.eot");
  src: url("fonts/CookieRegular.eot") format("embedded-opentype"), url("fonts/CookieRegular.woff2") format("woff2"), url("fonts/CookieRegular.woff") format("woff"), url("fonts/CookieRegular.ttf") format("truetype"), url("fonts/CookieRegular.svg#CookieRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Open Sans-Regular';
  src: url("fonts/OpenSans-Regular.eot");
  src: url("fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular.woff2") format("woff2"), url("fonts/OpenSans-Regular.woff") format("woff"), url("fonts/OpenSans-Regular.ttf") format("truetype"), url("fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("fonts/OpenSans-Bold.eot");
  src: url("fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.ttf") format("truetype"), url("fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'OpenSans-Italic';
  src: url("fonts/OpenSans-Italic.eot");
  src: url("fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Italic.woff2") format("woff2"), url("fonts/OpenSans-Italic.woff") format("woff"), url("fonts/OpenSans-Italic.ttf") format("truetype"), url("fonts/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("fonts/OpenSans-SemiBold.eot");
  src: url("fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-SemiBold.woff2") format("woff2"), url("fonts/OpenSans-SemiBold.woff") format("woff"), url("fonts/OpenSans-SemiBold.ttf") format("truetype"), url("fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Tinos-Regular';
  src: url("fonts/Tinos-Regular.eot");
  src: url("fonts/Tinos-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Tinos-Regular.woff2") format("woff2"), url("fonts/Tinos-Regular.woff") format("woff"), url("fonts/Tinos-Regular.ttf") format("truetype"), url("fonts/Tinos-Regular.svg#Tinos-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
body header .header_box .header_box_menu .header_menu_content .hd_btn_mn, body header .header_box .header_box_content .hd_tl_bt, body .advertising .container button, body .menu_prise .container .swiper-slide .present_element button {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 14px;
  line-height: 19px;
  padding: 14px 19px;
  background-color: #FF7400;
  color: white;
  text-transform: uppercase; }

body .history .container .history_content .history_txt .history_tittle, body .daily .container h2, body .menu_prise .container h2, body .gallery h2, body .chef .container h2 {
  font-family: 'Tinos-Regular', sans-serif;
  font-size: 54px;
  line-height: 62px; }

h2, h3, p {
  font-family: 'Open Sans-Regular', sans-serif; }

.container {
  max-width: 1168px;
  padding: 0 30px;
  margin: 0 auto; }

header a {
  color: white; }

body {
  color: black; }
  body header {
    background: url("img/header_bg.png") no-repeat;
    background-size: cover; }
    body header .header_box {
      padding: 50px 0 231px; }
      @media (max-width: 765px) {
        body header .header_box {
          padding: 20px 0 304px; } }
      body header .header_box .header_box_menu {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        @media (max-width: 765px) {
          body header .header_box .header_box_menu {
            padding-top: 0; } }
        body header .header_box .header_box_menu .header_menu_content {
          display: flex;
          align-items: center; }
          @media (max-width: 765px) {
            body header .header_box .header_box_menu .header_menu_content {
              margin-right: 0;
              position: fixed;
              top: 0;
              right: -100%;
              width: 100%;
              height: 100%;
              background: white;
              padding: 95px 30px 30px 35px;
              transition: right 0.3s ease 0s;
              overflow: auto;
              z-index: 11; } }
          body header .header_box .header_box_menu .header_menu_content .header_menu {
            margin-right: 36px; }
            @media (max-width: 920px) {
              body header .header_box .header_box_menu .header_menu_content .header_menu {
                margin-right: 20px; } }
            body header .header_box .header_box_menu .header_menu_content .header_menu .menu_list {
              display: flex;
              gap: 23px; }
              @media (max-width: 920px) {
                body header .header_box .header_box_menu .header_menu_content .header_menu .menu_list {
                  gap: 15px; } }
              @media (max-width: 765px) {
                body header .header_box .header_box_menu .header_menu_content .header_menu .menu_list {
                  display: block;
                  gap: 0; } }
              body header .header_box .header_box_menu .header_menu_content .header_menu .menu_list li a {
                font-family: 'OpenSans-Bold', sans-serif;
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase; }
                @media (max-width: 765px) {
                  body header .header_box .header_box_menu .header_menu_content .header_menu .menu_list li a {
                    font-size: 34px;
                    color: #D67E34; } }
              @media (max-width: 765px) {
                body header .header_box .header_box_menu .header_menu_content .header_menu .menu_list li {
                  margin: 0 0 68px 0; } }
              body header .header_box .header_box_menu .header_menu_content .header_menu .menu_list li li:last-child {
                margin-bottom: 0; }
          body header .header_box .header_box_menu .header_menu_content .cart_link {
            margin-right: 21px; }
            @media (max-width: 920px) {
              body header .header_box .header_box_menu .header_menu_content .cart_link {
                margin-right: 10px; } }
            @media (max-width: 765px) {
              body header .header_box .header_box_menu .header_menu_content .cart_link {
                display: none; } }
          body header .header_box .header_box_menu .header_menu_content .menu_line {
            margin-right: 31px; }
            @media (max-width: 920px) {
              body header .header_box .header_box_menu .header_menu_content .menu_line {
                margin-right: 15px; } }
            @media (max-width: 765px) {
              body header .header_box .header_box_menu .header_menu_content .menu_line {
                display: none; } }
          body header .header_box .header_box_menu .header_menu_content .call_box {
            margin-right: 45px;
            max-width: 163px; }
            @media (max-width: 920px) {
              body header .header_box .header_box_menu .header_menu_content .call_box {
                margin-right: 2px; } }
            @media (max-width: 765px) {
              body header .header_box .header_box_menu .header_menu_content .call_box {
                display: none; } }
            body header .header_box .header_box_menu .header_menu_content .call_box .call_content {
              display: flex; }
              body header .header_box .header_box_menu .header_menu_content .call_box .call_content img {
                margin-right: 8px; }
                @media (max-width: 920px) {
                  body header .header_box .header_box_menu .header_menu_content .call_box .call_content img {
                    margin-right: 5px; } }
              body header .header_box .header_box_menu .header_menu_content .call_box .call_content a {
                font-family: 'OpenSans-Bold', sans-serif;
                font-size: 18px;
                line-height: 25px; }
                @media (max-width: 920px) {
                  body header .header_box .header_box_menu .header_menu_content .call_box .call_content a {
                    font-size: 16px; } }
                @media (max-width: 765px) {
                  body header .header_box .header_box_menu .header_menu_content .call_box .call_content a {
                    font-size: 18px; } }
            body header .header_box .header_box_menu .header_menu_content .call_box p {
              font-size: 14px;
              line-height: 19px;
              color: white; }
              @media (max-width: 920px) {
                body header .header_box .header_box_menu .header_menu_content .call_box p {
                  font-size: 11px; } }
              @media (max-width: 765px) {
                body header .header_box .header_box_menu .header_menu_content .call_box p {
                  font-size: 11px; } }
          @media (max-width: 920px) {
            body header .header_box .header_box_menu .header_menu_content .hd_btn_mn {
              font-size: 12px;
              padding: 11px 11px; } }
          @media (max-width: 765px) {
            body header .header_box .header_box_menu .header_menu_content .hd_btn_mn {
              font-size: 18px;
              padding: 14px 19px; } }
        @media (max-width: 765px) {
          body header .header_box .header_box_menu .header_menu_content._active {
            right: 0;
            display: block; } }
      body header .header_box .header_box_content {
        max-width: 484px;
        padding-top: 203px;
        text-align: center; }
        @media (max-width: 1107px) {
          body header .header_box .header_box_content {
            margin: 0 auto; } }
        @media (max-width: 765px) {
          body header .header_box .header_box_content {
            padding-top: 155px; } }
        body header .header_box .header_box_content .header_tittle {
          font-family: 'Tinos-Regular', sans-serif;
          font-size: 50px;
          line-height: 57px;
          color: #D67E35; }
          @media (max-width: 765px) {
            body header .header_box .header_box_content .header_tittle {
              font-size: 30px;
              line-height: 34px; } }
        body header .header_box .header_box_content .header_sub_tittle {
          font-family: 'Tinos-Regular', sans-serif;
          font-size: 80px;
          line-height: 92px;
          margin-bottom: 12px;
          color: #D67E35; }
          @media (max-width: 765px) {
            body header .header_box .header_box_content .header_sub_tittle {
              font-size: 40px;
              line-height: 46px; } }
        body header .header_box .header_box_content .header_content_sub_tittle {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          margin-bottom: 21px; }
          @media (max-width: 765px) {
            body header .header_box .header_box_content .header_content_sub_tittle img {
              display: none; } }
          body header .header_box .header_box_content .header_content_sub_tittle p {
            font-size: 18px;
            line-height: 25px;
            color: white; }
            @media (max-width: 765px) {
              body header .header_box .header_box_content .header_content_sub_tittle p {
                font-size: 15px;
                line-height: 20px; } }
        body header .header_box .header_box_content .hd_tl_bt {
          padding: 14px 28px; }
      body header .header_box .menu_icon {
        display: none; }
        @media (max-width: 765px) {
          body header .header_box .menu_icon {
            display: block;
            z-index: 12;
            position: relative;
            cursor: pointer;
            width: 40px;
            height: 30px; } }
      @media (max-width: 765px) {
        body header .header_box .menu_icon span,
        body header .header_box .menu_icon::before,
        body header .header_box .menu_icon::after {
          left: 0;
          position: absolute;
          z-index: 6;
          height: 15%;
          width: 100%;
          transition: all 0.3s ease 0s;
          background-color: #D67E34; } }
      @media (max-width: 765px) {
        body header .header_box .menu_icon::before,
        body header .header_box .menu_icon::after {
          content: ""; } }
      @media (max-width: 765px) {
        body header .header_box .menu_icon::before {
          top: 0; } }
      @media (max-width: 765px) {
        body header .header_box .menu_icon::after {
          bottom: 0; } }
      @media (max-width: 765px) {
        body header .header_box .menu_icon span {
          top: 50%;
          transform: scale(1) translate(0px, -50%); } }
      @media (max-width: 765px) {
        body header .header_box .menu_icon._active span {
          transform: scale(0) translate(0px, -50%); } }
      @media (max-width: 765px) {
        body header .header_box .menu_icon._active::before {
          top: 50%;
          transform: rotate(-45deg) translate(0px, -50%);
          background-color: #D67E34; } }
      @media (max-width: 765px) {
        body header .header_box .menu_icon._active::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0px, 50%);
          background-color: #D67E34; } }
  body .history {
    padding: 371px 0 121px;
    background-color: white; }
    @media (max-width: 1106px) {
      body .history {
        padding-top: 729px; } }
    @media (max-width: 765px) {
      body .history {
        padding-top: 905px; } }
    body .history .container {
      position: relative; }
      body .history .container .history_intro {
        display: flex;
        flex-wrap: wrap;
        max-width: 1108px;
        width: 100%;
        gap: 30px;
        justify-content: center;
        position: absolute;
        top: -478px;
        z-index: 9; }
        @media (max-width: 1106px) {
          body .history .container .history_intro {
            top: -836px; } }
        @media (max-width: 765px) {
          body .history .container .history_intro {
            flex-direction: column;
            align-items: center;
            gap: 15px;
            top: -1045px;
            left: 50%;
            transform: translateX(-50%); } }
        body .history .container .history_intro .intro_content {
          max-width: 349px;
          width: 100%;
          background-color: white;
          padding: 48px 0 25px;
          text-align: center;
          box-shadow: 5px 5px 50px gray; }
          @media (max-width: 765px) {
            body .history .container .history_intro .intro_content {
              max-width: 290px; } }
          body .history .container .history_intro .intro_content img {
            margin-bottom: 8px; }
          body .history .container .history_intro .intro_content .intro_tittle,
          body .history .container .history_intro .intro_content .intro_sub_tittle {
            font-family: 'Tinos-Regular', sans-serif;
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 20px; }
          @media (max-width: 765px) {
            body .history .container .history_intro .intro_content .intro_sub_tittle {
              font-size: 22px;
              line-height: 25px;
              max-width: 220px;
              margin: 0 auto; } }
          body .history .container .history_intro .intro_content .intro_tittle span {
            color: #BC9060; }
          body .history .container .history_intro .intro_content .intro_sub_tittle {
            margin-bottom: 0; }
      body .history .container .history_content {
        display: flex;
        justify-content: space-between; }
        @media (max-width: 1106px) {
          body .history .container .history_content {
            flex-direction: column;
            align-items: center; } }
        body .history .container .history_content .history_txt {
          max-width: 444px;
          text-align: center; }
          @media (max-width: 1106px) {
            body .history .container .history_content .history_txt {
              margin-bottom: 45px; } }
          body .history .container .history_content .history_txt .history_tittle {
            margin-bottom: 21px; }
            @media (max-width: 765px) {
              body .history .container .history_content .history_txt .history_tittle {
                max-width: 180px;
                margin: 0 auto 45px;
                font-size: 40px;
                line-height: 46px; } }
          body .history .container .history_content .history_txt .history_tittle span {
            color: #D67E34; }
          body .history .container .history_content .history_txt .history_sub_tittle {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 80px; }
          body .history .container .history_content .history_txt .counter {
            display: flex;
            gap: 35px;
            justify-content: center; }
            @media (max-width: 765px) {
              body .history .container .history_content .history_txt .counter {
                flex-direction: column;
                align-items: center; } }
          body .history .container .history_content .history_txt .element p:first-child {
            color: #BC9060;
            font-size: 40px;
            line-height: 54px; }
          body .history .container .history_content .history_txt .element p:last-child {
            font-size: 20px;
            line-height: 27px; }
        body .history .container .history_content img {
          object-fit: cover;
          width: 100%; }
  body .advertising {
    background-color: black;
    padding: 80px 0 104px; }
    body .advertising .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 920px) {
        body .advertising .container {
          flex-direction: column;
          align-items: center;
          text-align: center; } }
      body .advertising .container .advertising_txt {
        max-width: 601px; }
        @media (max-width: 920px) {
          body .advertising .container .advertising_txt {
            margin-bottom: 41px; } }
        body .advertising .container .advertising_txt h2 {
          font-family: 'Tinos-Regular', sans-serif;
          font-size: 52px;
          line-height: 60px;
          color: #D67E34;
          margin-bottom: 20px; }
          @media (max-width: 765px) {
            body .advertising .container .advertising_txt h2 {
              font-size: 30px;
              line-height: 34px; } }
        body .advertising .container .advertising_txt p {
          font-family: 'OpenSans-Bold', sans-serif;
          font-size: 24px;
          line-height: 33px;
          color: white; }
          @media (max-width: 765px) {
            body .advertising .container .advertising_txt p {
              font-size: 24px;
              line-height: 33px; } }
  body .daily {
    background-color: white;
    padding: 132px 0 150px; }
    @media (max-width: 765px) {
      body .daily {
        padding: 63px 0 127px; } }
    body .daily .container {
      text-align: center;
      max-width: 1129px; }
      body .daily .container h2 {
        margin-bottom: 139px; }
        @media (max-width: 765px) {
          body .daily .container h2 {
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 68px; } }
      body .daily .container h2 span {
        color: #D67E34; }
      body .daily .container .daily_img_box {
        display: flex;
        gap: 30px; }
        @media (max-width: 1200px) {
          body .daily .container .daily_img_box {
            flex-direction: column; } }
        @media (max-width: 1200px) {
          body .daily .container .daily_img_box .daily_pz {
            object-fit: cover;
            height: 478px; } }
        body .daily .container .daily_img_box .daily_price div:last-child {
          margin-bottom: 0; }
        body .daily .container .daily_img_box .offers {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 29px; }
          body .daily .container .daily_img_box .offers .offer_logo {
            margin-right: 30px; }
            @media (max-width: 765px) {
              body .daily .container .daily_img_box .offers .offer_logo {
                max-width: 130px;
                object-fit: cover;
                margin-right: 8px; } }
          @media (max-width: 765px) {
            body .daily .container .daily_img_box .offers .offer_line {
              display: none; } }
          body .daily .container .daily_img_box .offers p {
            font-family: 'Tinos-Regular', sans-serif;
            font-size: 26px;
            line-height: 30px;
            margin-right: 8px;
            white-space: nowrap; }
            @media (max-width: 765px) {
              body .daily .container .daily_img_box .offers p {
                font-size: 21px;
                line-height: 25px;
                margin-right: 5px; } }
          body .daily .container .daily_img_box .offers img {
            margin-right: 11px; }
        body .daily .container .daily_img_box .offer p:last-child {
          margin-right: 0; }
  body .menu_prise {
    padding: 100px 0 226px;
    background: url("img/menu_bg.png") no-repeat;
    background-size: cover; }
    body .menu_prise .container {
      max-width: 1352px;
      text-align: center; }
      body .menu_prise .container h2 {
        margin-bottom: 138px;
        color: white; }
      body .menu_prise .container .swiper-slide {
        width: auto; }
        body .menu_prise .container .swiper-slide .present_element {
          max-width: 350px;
          padding: 80px 0 29px;
          width: 100%;
          background-color: #FFFFFF;
          text-align: center;
          position: relative;
          margin: 0 auto; }
          @media (max-width: 765px) {
            body .menu_prise .container .swiper-slide .present_element {
              max-width: 290px; } }
          body .menu_prise .container .swiper-slide .present_element h3 {
            font-size: 13px;
            line-height: 18px;
            padding: 7px 11px 11px 12px;
            background-color: #D67E34;
            max-width: 124px;
            position: absolute;
            top: 0;
            left: 0; }
          body .menu_prise .container .swiper-slide .present_element .elem_price_img {
            margin-bottom: 22px;
            position: relative; }
            @media (max-width: 765px) {
              body .menu_prise .container .swiper-slide .present_element .elem_price_img {
                margin-bottom: 18px; } }
            body .menu_prise .container .swiper-slide .present_element .elem_price_img .price_elem {
              position: absolute;
              top: 55%;
              right: 14%;
              color: white;
              font-family: 'CookieRegular', sans-serif;
              font-size: 30px;
              line-height: 33px;
              padding: 25px 0 0 5px;
              background-color: #D67E34;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              border: 7px solid white; }
          body .menu_prise .container .swiper-slide .present_element h2 {
            font-family: 'Tinos-Regular', sans-serif;
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 17px; }
          body .menu_prise .container .swiper-slide .present_element p {
            font-size: 16px;
            line-height: 22px;
            margin: 0 auto 22px auto;
            max-width: 225px; }
            @media (max-width: 765px) {
              body .menu_prise .container .swiper-slide .present_element p {
                margin: 0 auto 20px auto; } }
          body .menu_prise .container .swiper-slide .present_element button {
            padding: 14px 68px;
            font-size: 16px; }
      body .menu_prise .container .swiper-button-prev,
      body .menu_prise .container .swiper-button-next {
        background-image: url("img/sl_bt.svg");
        background-size: 100%;
        width: 40px;
        height: 40px;
        color: transparent; }
  body .comments {
    background-color: #E5E5E5;
    text-align: center;
    padding: 104px 0 108px; }
    body .comments .comment_txt {
      max-width: 920px;
      margin: 0 auto; }
      body .comments .comment_txt p {
        font-family: 'OpenSans-Italic', sans-serif;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 20px; }
      body .comments .comment_txt img {
        margin-bottom: 16px; }
      body .comments .comment_txt h2 {
        font-family: 'OpenSans-SemiBold', sans-serif;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 10px; }
      body .comments .comment_txt h3 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 25px; }
  body .swiper-pagination-bullet {
    background-color: #c4c4c4;
    border: 1px solid #D67E34; }
  body .gallery {
    background-color: white;
    padding-top: 100px;
    text-align: center; }
    body .gallery h2 {
      margin-bottom: 60px; }
      body .gallery h2 span {
        color: #D67E34; }
    body .gallery .container {
      max-width: 1380px; }
      @media (max-width: 880px) {
        body .gallery .container .swiper_gallery {
          padding: 0 0;
          height: 1185px; } }
      @media (max-width: 598px) {
        body .gallery .container .swiper_gallery {
          height: 1795px; } }
      body .gallery .container .swiper_gallery .gallery_box {
        max-width: 1111px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap; }
        @media (max-width: 598px) {
          body .gallery .container .swiper_gallery .gallery_box img {
            max-width: 253px;
            height: 274px;
            object-fit: cover; } }
  body #swiper_gallery_prev,
  body #swiper_gallery_next {
    background-color: #FF0000;
    width: 30px;
    height: 100px;
    color: transparent; }
  body .chef {
    background-color: white;
    padding: 100px 0; }
    @media (max-width: 765px) {
      body .chef {
        padding: 71px 0 21px; } }
    body .chef .container {
      text-align: center; }
      body .chef .container h2 {
        margin-bottom: 107px; }
        @media (max-width: 765px) {
          body .chef .container h2 {
            font-size: 40px;
            line-height: 46px;
            margin-bottom: 80px; } }
        body .chef .container h2 span {
          color: #D67E34; }
      body .chef .container .chef_gallery {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap; }
  body footer {
    background: url("img/footer_bg.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 732px; }

/*# sourceMappingURL=styles.css.map */
